<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>

    <!-- Style CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen" rel="stylesheet">
</head>

<body>
	<div class="container">
		<center>
		<br><br><br><br><br><br>
		<img src="{{ url_for('static', filename='images/broken.png') }}">
		<h1>Oops, broken link.</h1>
		</center>
	</div>
</body>
</html>
